<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

  <mat-drawer-container
      class="flex-auto h-full bg-card dark:bg-transparent"
      [hasBackdrop]="true"
      (backdropClick)="onBackdropClicked()">

      <mat-drawer
          [style.width.px]="[drawerWidth]"
          [mode]="drawerMode"
          [opened]="false"
          [position]="'start'"
          [disableClose]="false"
          #matDrawer>

        <router-outlet></router-outlet>

      </mat-drawer>

      <mat-drawer-content class="flex flex-row w-full">

        <div [style.margin-left.px]="[this.drawerWidth]" class="justify-end items-end">

          <mat-toolbar>
            <span class="uppercase header">{{ headerTitle ? headerTitle : 'Covid Record' }}</span>
          </mat-toolbar>

          <div class="flex justify-end">
            <div class="flex flex-col flex-auto">

              <agm-map class="flex flex-col flex-auto"
                  [latitude]="lat"
                  [longitude]="lng"
                  [zoom]="zoom"
                  [disableDefaultUI]="false"
                  [zoomControl]="false">

                <agm-marker *ngFor="let m of markers; let i = index"
                  (markerClick)="clickedMarker(m, i)"
                  [latitude]="m.lat"
                  [longitude]="m.lng"
                  [markerDraggable]="m.draggable">

                <agm-info-window>
                  <h4 class="text-center uppercase">{{ m.state }}</h4>
                  <div>
                    <p>Positive cases <b>({{ m.radius ? m.radius : 0 }})</b> </p>
                    <span class="cursor-pointer" [routerLink]="['/covid/', m.code]">Show details</span>
                  </div>
                </agm-info-window>

                <agm-circle
                  [latitude]="m.lat"
                  [longitude]="m.lng"
                  [radius]="(m.radius) || 0"
                  [fillColor]="'red'"
                  [circleDraggable]="false"
                  [editable]="false">
                </agm-circle>

                </agm-marker>

              </agm-map>

            </div>

          </div>
        </div>

      </mat-drawer-content>

  </mat-drawer-container>

</div>
