<div class="flex flex-auto flex-col p-4">

  <!-- View mode -->
  <ng-container>

    <div *ngIf="state.death">
      <span class="font-sans text-2xl capitalize">Total death confirmed</span>

      <p class="font-sans text-4xl font-bold uppercase text-red-500">{{ state.death | number: '1.0-0' }}</p>
    </div>

    <div *ngIf="state.totalTestResults">
      <span class="font-sans text-xl capitalize">Total test results</span>

      <p class="font-sans text-xl font-bold uppercase text-green-500">{{ state.totalTestResults | number: '1.0-0' }}</p>
    </div>

  </ng-container>


  <ng-container>
    <form [formGroup]="searchForm" #searchNgForm="ngForm">

      <!-- Search -->

      <div class="mt-8">

        <mat-form-field class="w-full">
            <mat-label>Search</mat-label>
            <input
                (input)="filterBySearch(search.value)"
                matInput
                [formControlName]="'search'"
                [placeholder]="'State Name'"
                [spellcheck]="false"
                #search>
        </mat-form-field>

    </div>

    <!-- Submit button -->
    <button
        class="fuse-mat-button-large w-full mt-6"
        mat-flat-button
        [color]="'primary'"
        [disabled]="searchForm.disabled"
        (click)="searchCovid()">
        <span *ngIf="!searchForm.disabled">
            Search
        </span>
        <mat-progress-spinner
            *ngIf="searchForm.disabled"
            [diameter]="24"
            [mode]="'indeterminate'"></mat-progress-spinner>
    </button>

    </form>

  </ng-container>

</div>
